# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
assets/images/1.png
assets/images/2.png
assets/images/3.png
assets/images/4.png
assets/images/5.png
assets/images/a.jpg
assets/images/about.jpg
assets/images/aboutbg.jpg
assets/images/aboutjammu.jpg
assets/images/ahm1.jpg
assets/images/ahm2.jpg
assets/images/ahm3.jpg
assets/images/ahm4.jpg
assets/images/apollo-148722_960_720.png
assets/images/banquet.jpg
assets/images/bbsr.jpg
assets/images/bg.jpg
assets/images/blog1.jpg
assets/images/blog2.jpg
assets/images/books-2026194_960_720.webp
assets/images/books-5361664_960_720.png
assets/images/calm-background-for-video-121519 (1).mp3
assets/images/calm-background-for-video-121519.mp3
assets/images/can-443123_960_720.png
assets/images/cap-1266204_960_720.png
assets/images/chat (1).jpg
assets/images/chat (1).png
assets/images/chat.png
assets/images/city-6870803_1280.jpg
assets/images/close.png
assets/images/contact.jpg
assets/images/cricket.jpg
assets/images/cta.jpg
assets/images/database-183453_960_720.png
assets/images/dialog.jpg
assets/images/dialog.png
assets/images/download (1).jpg
assets/images/download.jpg
assets/images/dragons-5974831_960_720.png
assets/images/Eco_Pronit Parida_20070122103.pdf
assets/images/f4e32a7e-0dbf-4d9c-88d9-abaec4e451f6.jpg
assets/images/food.jpg
assets/images/footer.jpg
assets/images/Gateway_of_India_-Mumbai.jpg
assets/images/github-394322_960_720.png
assets/images/google-1015751_960_720.png
assets/images/gym.jpg
assets/images/images (1).jpg
assets/images/images (2).jpg
assets/images/images.jpg
assets/images/jaipur.jpeg
assets/images/jaisalmer.jpg
assets/images/jaiselmar1.jpg
assets/images/jaiselmar2.jpg
assets/images/jaiselmar3.jpg
assets/images/jaiselmar4.jpg
assets/images/jaiselmar5.jpg
assets/images/library-5292599_960_720.png
assets/images/loading.gif
assets/images/logo.png
assets/images/man-7501560_960_720.png
assets/images/math-5605611_960_720.png
assets/images/Mumbai.webp
assets/images/mumbai1.jpg
assets/images/mumbai3.jpg
assets/images/mumbai4.jpg
assets/images/next.png
assets/images/owl-47526_960_720.png
assets/images/paypal-784404_960_720.webp
assets/images/phone.png
assets/images/phone.webp
assets/images/phone2.jpg
assets/images/pixel-cells-3702064_960_720.png
assets/images/pool.jpg
assets/images/prev.png
assets/images/Pune.jpg
assets/images/pune2.jpg
assets/images/santa.png
assets/images/sauna.jpg
assets/images/smartphone.webp
assets/images/teacher-23304_960_720.png
assets/images/team1.jpg
assets/images/team2.gif
assets/images/team3.webp
assets/images/team4.jpg
assets/images/team5.webp
assets/images/tet1.jpg
assets/images/tet2.jpg
assets/images/travel1.jpg
assets/images/travel2.jpg
assets/images/traveller.jpg
assets/images/Udaipur.jpg
assets/images/udaipur2.jpg
assets/images/udaipur3.jpg
assets/images/udaipur4.jpg
assets/images/virtual-5663279_960_720.png
assets/images/wifi.jpg
assets/images/xampp-windows-x64-7.4.30-1-VC15-installer.exe
