<div class="component-background">
  <div
    class="flex min-h-full items-center justify-center px-4 py-12 sm:px-6 lg:px-8"
  >
    <div class="w-full max-w-md space-y-8">
      <div>
        <img
          class="mx-auto h-12 w-auto"
          src="https://i.pinimg.com/originals/30/11/b2/3011b2705563a38655c2b37ce0db6ed1.png"
          alt="Your Company"
        />
        <h2
          class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-900"
        >
          Sign in to your account
        </h2>
      </div>
      <form class="mt-8 space-y-6" action="#" method="POST">
        <input type="hidden" name="remember" value="true" />
        <div class="-space-y-px rounded-md shadow-sm">
          <div>
            <label for="email-address" class="sr-only">Email address</label>
            <input id="username"
                   name="username"
                   [(ngModel)]="loginObj.username"
                   required
                   type="email"
                   autocomplete="email"
                   class="relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                   placeholder=" Email address"
                   (focusout)="isTouched = false" />
            <div class="text-danger" *ngIf=" !isTouched && loginObj.username?.length && loginObj.username.length > 29">
              Email must be less than 29 characters long.
            </div>
            <div class="text-danger" *ngIf="!isTouched &&loginObj.username?.length && !loginObj.username.match('^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$')">
              Please enter a valid email address.
            </div>
            <div class="text-danger" *ngIf="!isTouched &&!loginObj.username?.length">
              Email is required.
            </div>
          </div>
          
          <div
            class="text-danger"
            *ngIf="
              loginObj.username?.length && !loginObj.username.includes('@')
            "
          >
            Username is invalid
          </div>
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password"
                   name="password"
                   [(ngModel)]="loginObj.password"
                   required
                   type="password"
                   (focusout)="istouched = false" 
                   class="relative block w-full rounded-t-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                   placeholder=" Password" />
            <div class="text-danger" *ngIf="istouched && loginObj.password?.length">
              Password is required.
            </div>
            <div class="text-danger" *ngIf="loginObj.password?.length && loginObj.password.length < 8">
              Password must be at least 8 characters long.
            </div>
            <div class="text-danger" *ngIf="loginObj.password?.length >= 8 && !loginObj.password.match('^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9]).{8,}$')">
              Password must contain at least one uppercase letter, one lowercase letter, and one number.
            </div>
          </div>
          
          <div class="centre">
            <h1 class="text-white allign-center">
              <div>
                <h1></h1>
              </div>
              Or Sign In Using PIN
            </h1>
          </div>
          <div>
            <label for="pin" class="sr-only">PIN</label>
            <input
              [(ngModel)]="loginObj.pin"
              required
              id="pin"
              name="pin"
              type="password"
              autocomplete="current-pin"
              required
              class="relative block w-full rounded-b-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:z-10 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
              placeholder=" PIN"
            />
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm">
            <a
              (click)="goforgetpassword()"
              class="font-medium text-indigo-600 hover:text-indigo-500"
              >Forgot your password?</a
            >
          </div>
          <div class="my-text">
            <a
              (click)="register()"
              class="font-medium text-indigo-600 hover:text-indigo-500"
              >New User?</a
            >
          </div>
        </div>
        <div class="a">
          <a>{{ loginMessage }}</a>
        </div>
        <div>
          <button
            (click)="onLog()"
            type="submit "
            class="group relative flex w-full justify-center rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            <span class="absolute inset-y-0 left-0 flex items-center pl-3">
              <svg
                class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400"
                viewBox="0 0 20 20 "
                fill="currentColor "
                aria-hidden="true "
              >
                <path
                  fill-rule="evenodd "
                  d="M10 1a4.5 4.5 0 00-4.5 4.5V9H5a2 2 0 00-2 2v6a2 2 0 002 2h10a2 2 0 002-2v-6a2 2 0 00-2-2h-.5V5.5A4.5 4.5 0 0010 1zm3 8V5.5a3 3 0 10-6 0V9h6z "
                  clip-rule="evenodd "
                />
              </svg>
            </span>
            Sign in
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
